<div class="col">
  <h1>Editing stock</h1>

  <%= render "form", stock: @stock %>

  <br>

  <div>
    <%= link_to "Show this stock", stock_path(@stock.code), class: "btn btn-info" %>
    <%= link_to "Back to stocks", stocks_path, class: "btn btn-secondary" %>
  </div>
</div>
