<div class="col">
  <h1>Editing user</h1>

  <%= render "form", user: @user %>

  <br>

  <div>
    <%= link_to "Show this user", user_path(@user.code), class: "btn btn-info" %>
    <%= link_to "Back to users", users_path, class: "btn btn-secondary" %>
  </div>
</div>
