<div class="col">
  <h1>Welcome to Internal Wallet Transactional System</h1>
  <p>You can start your transaction by select this options</p>
  <%= render "transaction_histories/go_to_clients_button" %>
</div>